{% extends 'base.html' %}

{% block content %}
  <div class="middle">
    <h2>Popular Projects</h2>
    {% for project in projects %}
      <div class="proj-card">
        <a href={{"/project/" + project.projectId}}>
          <p class="proj-card-name">{{ project.name }}</p>
          <p class="proj-card-description">{{ project.description }}</p>
        </a>
      </div>
      {% else %}
      <li>No current projects</li>
    {% endfor %}
  </div>
  <script type="text/javascript" src="/static/index.js" defer></script>
{% endblock %}
