html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.middle {
  width: 60%;
  margin: auto;
}

.proj-card {
  border: 2px solid black;
  margin: 5px 0;
}
