html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding-left: 1.3em;
  text-indent: -1.3em;
}

input:focus {
  outline:none;
}

::placeholder {
    color: #e5e5e5;
    opacity: 1;
}

.header-bar {
  background-color: #393E42;
  color: #e5e5e5;
  height: 50px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#super-title {
  cursor: pointer;
}

#super-title:hover {
  color: #cecece;
}

#search {
  width: 500px;
  background: #565a5c;
  color: white;
  font-size: 18px;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
}

#search:active, #search:focus {
  background: #e5e5e5;
  color: #393e42;
}

.middle {
  width: 60%;
  margin: auto;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  top: 200px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: 0 0 20px #000;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-top {
  display: flex;
  justify-content: flex-end;
}

.modal-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  margin-bottom: 30px;
}

#close-modal {
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

#close-modal:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#close-modal:focus {
  outline: 0;
}

.page-title {
  font-size: 32px;
  margin: 8px 0;
}

.page-subtitle {
  font-size: 26px;
  margin: 16px 0 8px;
}

.l-button {
  background: #e5e5e5;
  color: #393e42;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 3px;
}

.l-button:hover {
  background: #cecece;
  color: black;
}

.l-button:active {
  transform: translateY(2px);
}

.login-text {
  text-decoration: underline;
}

.login-text:hover {
  color: #717171;
}

#home-new {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid black;
}

.proj-card {
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin: 10px;
}

.proj-card:hover {
  transform: scale(1.02, 1.02);
}

.proj-card-info {
  flex: 1;
  padding: 10px;
}

.proj-card-name {
  font-size: 26px;
  font-weight: bold;
}

.proj-card-delete {
  padding: 10px;
  cursor: pointer;
}

.proj-card-x {
  font-size: 26px;
  font-weight: bold;
}

.proj-card-delete:hover {
  color: red;
}

.create-prompt {
  margin: 4px 0;
}

.create-input-field {
  display: flex;
  align-items: center;
  margin: 4px 10px;
}

.create-input-field label {
  margin-right: 4px;
}

#prog-list, #collab-list {
  width: 50%;
}

.prog-list-el-div, .collab-list-el-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-prog:hover, .remove-collab:hover {
  color: red;
  cursor: pointer;
}

#search-dropdown {
  position: absolute;
}

#collab-dropdown {
  position: absolute;
}

.search-dropdown-empty, .collab-dropdown-item, .collab-dropdown-empty {
  background-color: white;
  padding: 5px;
}

.collab-dropdown-item:hover {
  cursor: pointer;
  background-color: gray;
}

#create {
  margin: 4px 10px;
  font-size: 20px;
}

#project-title {
  font-size: 32px;
  margin: 8px 0;
}

#name-input, #name-save, #name-cancel {
  display: none;
}

#desc-input, #desc-save, #desc-cancel {
  display: none;
}

#deadline-input, #deadline-save, #deadline-cancel {
  display: none;
}

#owner-input, #owner-save, #owner-cancel, #owner-add, #owner-list {
  display: none;
}

.edit {
  cursor: pointer;
}

.proj-container {
  display: flex;
  margin-bottom: 50px;
}

.proj-left {
  flex: 1;
  padding-right: 4px;
  border-right: 1px solid black;
}

.proj-right {
  flex: 3;
  margin-left: 4px;
}

#proj-update, #proj-comment {
  margin: 0 2px;
}

.update-card {
  margin: 4px;
  padding: 4px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update-card-delete {
  cursor: pointer;
}

.update-card-delete:hover {
  color: red;
}

.p-comments-card {
  margin: 4px;
  padding: 4px;
  border: 1px solid black;
}
